<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic"><%= @blogs.last.title %></h1>
    <p class="lead my-3"><%= @blogs.last.body.truncate_words(20, :seperator => ' ') %></p>
    <p class="lead mb-0">
      <%= link_to "Continue Reading...", @blogs.last %>
    </p>
  </div>
</div>

<!-- @blog.last is only showing per page last because upon pagination @blogs is instantiated with only those hit on the database within the constraint, calling Blog.last.title would fix this but would also become a database query. This can be fixed by creating a scope or an attribute of featured -->

<div class="col-md-8 blog-main">
  <h3 class="pb-4 mb-4 font-italic border-bottom">
    From the Firehose
  </h3>
  <%= link_to "Create New Blog", new_blog_path if logged_in?(:site_admin) %>
  <hr>

  <%= paginate @blogs %>

  <%= render @blogs %>

  <%= paginate @blogs %>
</div>


