<div class="container portfolio-form">
    <div class="d-flex flex-row">
        <div class="p-2 flex-fill">
            <%= image_tag portfolio_img(@portfolio_item.main_image.main_v.url, 'main') %>
        </div>
        <div class="pl-4 flex-fill">
            <h1><%= @portfolio_item.title %></h1>
            <hr>
            <em><%= @portfolio_item.subtitle %></em>
            <p><%= @portfolio_item.body%></p>
            <hr>

            <% if @portfolio_item.technologies.exists? %>

                <h3>Technologies</h3>
                <% @portfolio_item.technologies.each do |t| %>
                <p> <%= t.name %> </p>
                <% end %>
            <% end %>

            <% if logged_in?(:site_admin) %>
            <div class="text-center">
                <%= link_to "Edit Portfolio", edit_portfolio_path(@portfolio_item), class: 'btn btn-warning' %>
            </div>
            <% end %>
        </div>
    </div>
</div>