<div class="container">
    <div class="d-flex flex-row">
        <div class="p-2 flex-fill">
            <%= image_tag @portfolio_item.main_image %>
        </div>
        <div class="pl-4 flex-fill">
            <h1><%= @portfolio_item.title %></h1>
            <hr>
            <em><%= @portfolio_item.subtitle %></em>
            <p><%= @portfolio_item.body%></p>
            <hr>

            <h3>Technologies</h3>

            <% @portfolio_item.technologies.each do |t| %>
            <p> <%= t.name %> </p>
            <% end %>

        </div>
    </div>
</div>