<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="<%= @seo_keywords %>">

    <%= favicon_link_tag 'favicons/favicon.ico' %>

    <title><%=@page_title%></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

      <%= video_tag(
        'background.mp4',
        id: 'background-cover',
        autoplay: 'true',
        loop: 'true',
        muted: 'true',
        poster: 'background-still.png'
      ) %>

      <%= render "shared/application_nav" %>

      <%= yield %>

      <%= render "shared/application_footer" %>

      <%= alerts %>
      
    </div>
  </body>
</html>